In [ ]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
os.path.join("./abcd", "foo.txt")

'./abcd/foo.txt'

In [ ]:
AUTOML_DATA_DIR = 'automl_data'
AUTOML_DATA_FILE = 'data.csv'

In [ ]:
os.path.join(AUTOML_DATA_DIR, AUTOML_DATA_FILE)

'automl_data/data.csv'

In [ ]:
os.path.join('.', AUTOML_DATA_DIR)

'./automl_data'

In [ ]:
def clean_data(all_data):

    y_df = all_data.pop('quality').apply(lambda s: 1 if s >= 7 else 0)
    x_df = all_data
    
    # Clean and normalize the data
    x_df=(all_data-all_data.mean())/all_data.std()
    
    # Retrun the normalization information as well
    norm_df = pd.DataFrame(data=[all_data.mean(), all_data.std()], index=['Mean', 'Std'], columns=all_data.columns)
    
    return x_df, y_df, norm_df

In [ ]:
wine_df = pd.read_csv('/content/drive/MyDrive/udacity/winequality-white.csv', sep=';')

In [ ]:
wine_df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.0              0.27         0.36  ...       0.45      8.8        6
1               6.3              0.30         0.34  ...       0.49      9.5        6
2               8.1              0.28         0.40  ...       0.44     10.1        6
3               7.2              0.23         0.32  ...       0.40      9.9        6
4               7.2              0.23         0.32  ...       0.40      9.9        6
...             ...               ...          ...  ...        ...      ...      ...
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4894            6.6              0.32         0.36  ...       0.46      9.6        5
4895            6.5              0.24         0.19  ...       0.46      9.4        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[4898 rows x 12 columns]

In [ ]:
    X, y, norm_df = clean_data(wine_df)
    
    # Split the data into train/test sets
    # Note that the training data would be used for AutoML; 
    # the test data is not put to use in this project
    X_train, _, y_train, _ = train_test_split(X, y, test_size=0.2)
    train_data = pd.concat([X_train, y_train], axis=1)

In [ ]:
    train_data.to_csv('/content/drive/MyDrive/udacity/train_wine.csv', index=False)
    norm_df.to_csv('/content/drive/MyDrive/udacity/train_norm.csv')